HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### mac ###
.DS_Store

### application properties ###
**/src/main/resources/application.properties
application-google.properties
application-server1.properties
application-server2.properties

### lombok config ###
lombok.config

### for develop test classes ###
**/src/test/java/com/gunyoung/info/develop/