HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### mac ###
.DS_Store

### application properties ###
application.properties
application-google.properties
application-server1.properties
application-server2.properties

### playground ###
PlayGround.kt
